{% extends 'base.html' %}


{% block title %}分类归档页面{% endblock %}

{% block main %}

    <div id="main">

        <div class="archives">

            {% for po in poli %}
                <article class="archive-article archive-type-post">
                  <div class="archive-article-inner">
                    <header class="archive-article-header">
                    <a href="#" class="archive-article-date">
                         <time>{{ po.created|date:'Y-m' }}</time>
                    </a>

                     <h1 itemprop="name">
                          <a class="archive-article-title" target="_blank" href="/post/{{ po.id }}">{{ po.pname }}</a>
                     </h1>
                     </header>
                  </div>
                </article>
            {% empty %}
                无记录
            {% endfor %}






        </div>
    </div>

{% endblock %}