{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <style>

            form {
              position: relative;
              width: 150px;
              margin: 0 auto;
            }
            .d1{
                float: right;
                line-height: 67px;
            }
            .d1 input {
              width: 100px;
              height: 30px;
              border: 2px solid darkred;
              border-radius: 5px;
              outline: none;
              background: white;
              color: #1e242a;
            }
        </style>
</head>
<body>
    <div id="container">
                <div id="wrap">
                    {% include 'header.html' %}

                    <div class="outer">

                        {% block main %}

                        {% endblock %}

                        {% include 'right.html' %}

                    </div>

                    {% include 'footer.html' %}

                </div>
            </div>


</body>
</html>