<aside id="sidebar">
     <!--分类-->
  <div class="widget-wrap">
    <h3 class="widget-title">分类</h3>
    <div class="widget">
      <ul class="category-list">

        {% for i in cate %}
            <li class="category-list-item">
              <a class="category-list-link" href="/category/{{ i.1 }}">{{ i.0 }}</a>
              <span class="category-list-count">{{ i.2 }}</span>
            </li>
        {% endfor %}

      </ul>
      </div>
  </div>

     <!--归档-->
  <div class="widget-wrap">
    <h3 class="widget-title">归档</h3>
    <div class="widget">
      <ul class="archive-list">

        {% load myfilter %}
          {% for cre in creli %}
            <li class="archive-list-item">
              <a class="archive-list-link" href="/archive/{{ cre.1}}/{{ cre.2 }}">{{ cre.1 }}年{{ cre.2 }}月</a>
              <span class="archive-list-count">{{ cre.0 }}</span>
            </li>
          {% endfor %}


      </ul>
    </div>
  </div>

    <!--近期文章-->
  <div class="widget-wrap">
    <h3 class="widget-title">近期文章</h3>
    <div class="widget">
      <ul>

            {% for j in title_ %}

                <li>
                    <a href="/post/{{ j.id }}" target="_blank">{{ j.pname|truncatechars:'15' }}.</a>
                </li>

            {% endfor %}




      </ul>
    </div>
  </div>
  <div class="widget-wrap">
    <h3 class="widget-title">友情链接</h3>
    <div class="widget">
      <ul>
          <li>
            <a href="http://www.bjsxt.com/" target="_blank">尚学堂</a>
          </li>
          <li>
            <a href="http://www.sxt.cn/" target="_blank">速学堂</a>
          </li>
      </ul>
    </div>
  </div>
</aside>